# Dependencies
## Avoid any node_modules folders anywhere in the repo;
node_modules

## Avoid package*.json files only at repo root
/package.json
/package-lock.json

# Uploads directory
/uploads/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

