@import url("https://use.typekit.net/cbg5juo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * This injects custom `@font-face` rules.
 */
@import "./assets/fonts.css";

:root {
	--font-primary: "PPSupplyMono", monospace;
	--font-secondary: "ff-real-text-pro", sans-serif;
	--color-primary: 30 30 30;
	--color-primary-rgb: 30, 30, 30;
	--color-secondary: 40 209 194;
	--color-secondary-rgb: 40, 209, 194;
	--color-focus: 154, 152, 152;
	--header-height: 4rem;
	--margin-mobile: 1rem;
	--margin-desktop: 2rem;
	--padding-mobile: 1rem;
	--padding-desktop: 2rem;
	--container-width-mobile: calc(100vw - var(--padding-mobile) * 2);
	--container-width-desktop: 100vw;
	--container-height-mobile: calc(
		100svh - var(--padding-mobile) - var(--header-height)
	);
	--panels-container-width-desktop: calc(100vw * 5);
	--container-height-desktop: calc(100vh);
}

@layer base {
	:root[data-theme="dark"] {
		--color-primary: 30 30 30;
		--color-secondary: 40 209 194;
		--color-secondary-rgb: 40, 209, 194;
		--color-focus: 154, 152, 152;
	}
	:root[data-theme="light"] {
		--color-primary: 249 246 238;
		--color-secondary: 18 12 15;
		--color-secondary-rgb: 18, 12, 15;
		--color-focus: 154, 152, 152;
	}

	body {
		@apply font-secondary bg-primary overflow-x-clip;
	}

	header {
		@apply fixed px-8 flex justify-between items-center h-16 min-w-full max-w-wide;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-secondary font-primary uppercase;
	}

	h1 {
		@apply text-8xl;
	}

	cite {
		@apply text-secondary font-secondary not-italic;
	}

	a {
		@apply font-primary text-secondary;
	}

	li,
	p {
		@apply text-secondary font-secondary;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	-webkit-font-smoothing: antialiased;
	transition: background-color 0.2s linear;
}

/* ------------- */
/* EDITOR STYLES */
/* ------------- */

/* Containers */
.container,
.is-root-container,
.generic-content {
	@apply min-h-[--container-height-desktop] w-full max-w-wide;
}

/* Hide title in editor */
.editor-editor-canvas__post-title-wrapper {
	display: none;
}

.wp-element-button {
	@apply uppercase bg-secondary text-primary font-primary rounded-none;
}

/* Link */
.wp-block-read-more {
	@apply uppercase text-secondary font-primary rounded-none;
}

.is-style-outline .wp-element-button {
	@apply text-secondary font-primary rounded-none;
}

/* ------------------------ */
/* CUSTOM CORE BLOCK STYLES */
/* ------------------------ */
/* @import "./styles/custom-core-blocks.css"; */

/* HORIZONTAL SCROLL (outer panel) */
.is-style-horizontal-scroll {
	@apply h-screen w-screen overflow-clip;
}

/* HORIZONTAL PANEL (inner panel) */
.is-style-group-full {
	@apply h-[--container-height-desktop] w-fit;
}

/* TODO: check why max-w is not being applied */
.is-style-group-section {
	@apply relative h-[--container-height-desktop] min-w-screen px-8;
}

/* class applied in the editor */
.is-style-home-heading {
	@apply absolute top-16 w-screen px-8;
}

.is-style-logo-huge {
	@apply block w-screen px-8 text-center;
	font-size: clamp(2rem, 12vw, 15.3rem);
}

/* COLUMNS */
.is-style-columns-full {
	@apply h-full w-full;
}

.is-style-columns-full p {
	@apply pr-32;
}

.is-style-column-full {
	@apply h-full flex-1 relative flex flex-col justify-between bg-faded-5;
}

.is-style-column-padding {
	@apply pt-32 pb-8;
}

/* STACK SCROLL */
.is-style-stack-scroll {
	@apply h-full overflow-y-scroll pt-8 space-y-8;
}

/* BUTTON */
.is-style-button-manonemusic a,
.is-style-button-manonemusic > * {
	@apply uppercase bg-secondary text-primary font-primary rounded-none;
}

/* IMAGE */
.is-style-image-square {
	@apply w-full aspect-square object-cover;
}
