/* .is-style-juli a,
.is-style-juli > * {
	background-color: rgba(var(--color-secondary-rgb), 1);
	border-radius: 0px;
	text-transform: uppercase;
	color: rgba(var(--color-primary), 1);
	font-family: var(--font-primary);
} */
